body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333; /* Darker black for better contrast */
}

.navbar a {
  float: left;
  display: block;
  color: aqua;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #000;
  color: #f7f7f7;
}

h2 {
  color: cadetblue;
  font-family: Arial, Helvetica, sans-serif;
}

div.gallery {
  border: 4px solid #00e5ff;
}

div.gallery:hover {
  border: 10px solid #ff4000;
}

div.gallery img {
  background-color: transparent;
  width: 100%;
  height: 50%;
}

.decs {
  color: aquamarine;
  padding: 15px;
  border: 3px solid #00f7ff;
  font-family: Arial;
  font-size: 17px;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
      width: 50%;
      margin: 1px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
      width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  font-size: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  color: aqua;
}

table,
th,
td {
  border-collapse: separate;
  color: #f29900;
  border: 5px solid #fff;
}

th,
td {
  padding: 15px;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  background-color: #ffdd34;
  color: #000;
  text-align: center;
}
@media only screen and (max-width: 600px) {
      /* Adjust styles for small screens (e.g., mobile devices) */
      header, footer {
        padding: 0.5em;
      }

      section {
        padding: 0.5em;
      }
